

.section {
  margin-bottom: 160px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 60px;
  text-align: left;
}



.NewsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  /* margin: 0 auto; */
  margin: 0px 15px 20px 40px;
}

.NewsItem {
  margin: 0 30px;
}

.NewsItem p {
  max-width: 280px;
  margin: 0 auto;
}

.NewsItem h3 {
  max-width: 340px;
  text-align: center;
}

