.contactForm {
  max-width: 750px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.contactForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contactForm input[type='text'],
.contactForm input[type='email'],
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contactForm textarea {
  height: 200px;
  resize: none;
}

.contactForm button {
  background-color: #094067;
  color: #fffffe;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
