.firstView {
  background-image: url('/header_img/IMG_3039.jpg');
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.title {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

